@(_form: Form[Bank])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@tools.imports.base_hidden_fields(_form)

@inputText(_form("accountNo"),
	'_label -> Messages("account.no"),
	'class -> "input-large",
	'maxlength -> "15"
)

@inputText(_form("name"),
	'_label -> Messages("name"),
	'class -> "input-xlarge",
	'maxlength -> "50"
)

@inputText(_form("branch"),
	'_label -> Messages("branch"),
	'class -> "input-large",
	'maxlength -> "30"
)

@inputText(_form("city"),
	'_label -> Messages("city"),
	'class -> "input-medium",
	'maxlength -> "15"
)

@inputText(_form("iban"),
	'_label -> "IBAN",
	'class -> "input-xlarge",
	'maxlength -> "26"
)

@if(global.Profiles.chosen().gnel_hasExchangeSupport) {
	@select(_form("excCode"),
		options(Options.currencies),
		'class -> "input-small",
		'_label -> Messages("currency"),
		'_default -> Messages("free")
	)
}

@if(! global.Profiles.chosen().gnel_hasExchangeSupport) {
	<input type="hidden" name="excCode" id="excCode" value='@global.Profiles.chosen().gnel_excCode' />
}

@select(_form("isActive"),
	options(Options.yesno),
	'class -> "input-small",
	'_label -> Messages("is_active")
)
