<html>
	<head>
		<title>Seyhan</title>
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	</head>
	<body>
		<div class="hero-unit center">
			<h2><font color="red">Error 400</font>
				Hatalı bir istekte bulundunuz!
			</h2>
			<br />
			<p>
				Bu durumda webmaster ile iletişime geçebilir ya da tekrar deneyebilirsiniz.
			</p>
			<br />
			<a class="btn btn-large btn-info" href="javascript: history.go(-1)">Bir önceki sayfaya git!</a>
			<a class="btn btn-large btn-info" href="@routes.Application.index()">Ana sayfaya git!</a>
		</div>
	</body>
</html>
		