@(form: Form[_], rightBind: meta.RightBind = null, hasAddNewButton:Boolean = true)

@standart(form, 
			OrderTransSource.options(if(rightBind != null) rightBind.value else null), 
			enums.Right.SPRS_FIS_KAYNAKLARI, 
			"transSource", 
			Messages("trans.source"),
			hasAddNewButton=hasAddNewButton) {

	<script type="text/javascript">
		function setSimpleControllerFor_transSource() {
			simple_combo_type = 2;
			simple_selector = "#transSource_id";
			simple_controller = jsRoutes.controllers.order.TransSources;
		}
	</script>

}