@(currentPage: meta.PageExtend[ContactExtraFields], parent: AdminExtraFields)

@Controller = {
	<script type="text/javascript">
		var extraFields_id = @(parent.idno);
		var controller = jsRoutes.controllers.contact.ExtraFields;
	</script>
}

@tools.templates.ajax_index(Controller) {

	@tools.templates.ajax_form(
		right = enums.Right.CARI_EKSTRA_ALANLAR,
		saveAction = contact.routes.ExtraFields.save,
		title = Messages("definition.of", parent.name)
	)

	<div id=list>
		@list(currentPage, parent)
	</div>

}
