@(_form: Form[models.search.ChqbllTransSearchParam], sort: enums.ChqbllSort, rightBind: meta.RightBind)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@tools.templates.search_form(_form, 
		if(enums.ChqbllSort.Cheque.equals(sort)) {chqbll.routes.PayrollsForCheque.list(rightBind)} else {chqbll.routes.PayrollsForBill.list(rightBind)}, 
		rightBind.value.name) {

	<input type="hidden" name="rightBind" id="rightBind" value='@rightBind' />
	<input type="hidden" id="sort" name="sort" value='@sort' />

	@tools.components.autocomplete_contact(_form)
	@tools.dropdowns.chqbll_payroll_source(_form, sort, rightBind, hasAddNewButton=false)

	@inputText(_form("receiptNo"),
		'_label -> Messages("receipt_no"),
		'class -> "input-small number",
		'maxlength -> "9"
	)

	@inputText(_form("transNo"),
		'_label -> Messages("trans.no"),
		'class -> "input-medium",
		'maxlength -> "20"
	)

	@tools.components.date_range(_form)

	@tools.components.trans_point_select(_form)
	@tools.components.private_code_select(_form)

}
