@(_form: Form[AdminUser])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@tools.templates.basic_form() {

	@tools.imports.forms_header(
		_form("id").value,
		enums.Right.KULLANICI_TANITIMI,
		admin.routes.Users.remove(if(_form("id").value != null && ! _form("id").value.isEmpty()) _form("id").value.toInt else -1),
		! "1".equals(_form("id").value)
	)

	@helper.form(action = admin.routes.Users.save, 'class-> "form-horizontal zell", 'id-> "mainFieldsForm") {

		@tools.imports.base_hidden_fields(_form)

		<fieldset>

			@inputText(_form("username"),
				'_label -> Messages("username"),
				'class -> "input-medium",
				'maxlength -> "20",
				(if("1".equals(_form("id").value)) 'readonly -> "readonly" else '_a -> "a")
			)

			@inputText(_form("title"),
				'_label -> Messages("title"),
				'class -> "input-xlarge",
				'maxlength -> "30"
			)

			@inputText(_form("email"),
				'_label -> "Email",
				'class -> "input-xlarge",
				'maxlength -> "100"
			)

			@inputPassword(_form("password"),
				'_label -> Messages("password"),
				'class -> "input-medium",
				'maxlength -> "30"
			)

			@inputPassword(_form("repeatPassword"),
				'_label -> Messages("repeat_password"),
				'class -> "input-medium",
				'maxlength -> "30"
			)

			@if(_form("id").value == null || ! _form("id").value.equals("1")) {
				@select(_form("isAdmin"),
					options(Options.yesno),
					'class -> "input-small",
					'_label -> Messages("is_admin")
				)
				@select(_form("userGroup.id"),
					options(AdminUserGroup.options),
					'_label -> Messages("group"),
					'_default -> Messages("choose")
				)
				@select(_form("isActive"),
					options(Options.yesno),
					'class -> "input-small",
					'_label -> Messages("is_active")
				)
			} else {
				<input type="hidden" name="isActive" value='true' />
			}

		</fieldset>

		@tools.templates.form_footer_bar(enums.Right.KULLANICI_TANITIMI, _form("id").value)

	}

}
