@main() {

	<div class="row-fluid">
		<h4>@Messages("enum.CARI_TANITIM_IMPORT")</h4>

		@if(flash.containsKey("success")) {
			<div id="successPanel">
				<div class="alert alert-success">
					<a class="close" data-dismiss="alert" onclick="$('#successPanel').html('')">x</a>
					<strong>@Messages("info"): </strong> @flash.get("success")
				</div>
			</div>
		}

		@if(flash.containsKey("error")) {
			<div id="errorPanel">
				<div class="alert alert-error">
					<a class="close" data-dismiss="alert" onclick="$('#errorPanel').html('')">x</a>
					<strong>@Messages("error"): </strong> @flash.get("error")
				</div>
			</div>
		}

		<p>
			<strong>@Messages("alerts")</strong>
			<ul>
				<li>@Messages("dialogs.exim.desc.1")</li>
				<li>@Messages("dialogs.exim.desc.2")</li>
				<li>@Messages("dialogs.exim.desc.3")</li>
				<li>@Messages("dialogs.exim.desc.4")</li>
				<li>@Messages("dialogs.exim.desc.5")</li>
				<li>@Messages("dialogs.exim.desc.6")</li>
				<li>@Messages("dialogs.exim.desc.7")</li>
			</ul>

			<strong>@Messages("dialogs.exim.desc.8")</strong>
	    	<pre><code>12-450,MAHMUT SAĞLAM,KAVAKLIDERE,223344,77777,KASIM BEY,03145523632,03553123611,,KAVAKLIDERE,ANKARA,TÜRKİYE,jdoe@@example.com,www.example.com,</code></pre>
		</p>

		<div style="height:10px"></div>
		
		@helper.form(action = admin.routes.ImportContacts.imbort, 'class-> "offset2 form-horizontal", 'enctype -> "multipart/form-data") {
			@Messages("file") :
			<input type="file" id="file" name="file" class="filestyle" data-buttonText="" data-classButton="btn btn-mini">
		   	<a class="btn btn-mini" onclick="$('#file').filestyle('clear')" title="@Messages("remove")">
				<i class="icon-remove" style="margin-top:1px"></i>
			</a>
			<p style="margin:5px 205px">
			   	<button class="btn btn-small btn-primary">@Messages("ok")</button>
			</p>
		}

		<div style="height:15px"></div>
		
		<table width="100%">
			<thead>
				<tr>
					<th style="width:15%">@Messages("description")</th>
					<th style="width:20%">@Messages("constraint")</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>kodu</td>
					<td>en fazla 30 karakter metin ve boş olamaz</td>
				</tr>
				<tr>
					<td>adı</td>
					<td>en fazla 100 karakter metin ve boş olamaz</td>
				</tr>
				<tr>
					<td>vergi dairesi</td>
					<td>en fazla 20 karakter metin</td>
				</tr>
				<tr>
					<td>vergi numarası</td>
					<td>en fazla 15 karakter metin</td>
				</tr>
				<tr>
					<td>tc kimlik no</td>
					<td>en fazla 11 karakter metin</td>
				</tr>
				<tr>
					<td>ilgili</td>
					<td>en fazla 30 karakter metin</td>
				</tr>
				<tr>
					<td>telefon</td>
					<td>en fazla 15 karakter metin</td>
				</tr>
				<tr>
					<td>fax</td>
					<td>en fazla 15 karakter metin</td>
				</tr>
				<tr>
					<td>cep telefonu</td>
					<td>en fazla 15 karakter metin</td>
				</tr>
				<tr>
					<td>1. adres satırı</td>
					<td>en fazla 100 karakter metin</td>
				</tr>
				<tr>
					<td>2. adres satırı</td>
					<td>en fazla 100 karakter metin</td>
				</tr>
				<tr>
					<td>şehir</td>
					<td>en fazla 20 karakter metin</td>
				</tr>
				<tr>
					<td>ülke</td>
					<td>en fazla 20 karakter metin</td>
				</tr>
				<tr>
					<td>e mail</td>
					<td>en fazla 100 karakter metin</td>
				</tr>
				<tr>
					<td>web sitesi</td>
					<td>en fazla 100 karakter metin</td>
				</tr>
				<tr>
					<td>not</td>
					<td>uzun metin girilebilir</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<script type="text/javascript" src="@routes.Assets.at("javascripts/plugin/bootstrap-filestyle.min.js")"></script>

}
	