@(_form: Form[SafeTransSource])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@tools.imports.base_hidden_fields(_form)

@inputText(_form("name"),
	'_label -> Messages("name"),
	'class -> "input-xlarge",
	'maxlength -> "30"
)

@select(_form("suitableRight"),
	options(Options.transSources(enums.Module.safe)),
	'_label -> Messages("trans.usefor"),
	'_default -> Messages("choose")
)

@select(_form("isActive"),
	options(Options.yesno),
	'class -> "input-small",
	'_label -> Messages("is_active")
)
