@main() {

	<div class="container-fluid">
		<p style="margin-top: 10px"></p>
		<div class="row-fluid">
			<div class="span4">
              <h4>@Messages("dialogs.index.os.title")</h4>
              <p>@Messages("dialogs.index.os.desc")</p>
            </div>
			<div class="span4">
              <h4>@Messages("dialogs.index.db.title")</h4>
              <p>@Messages("dialogs.index.db.desc")</p>
            </div>
			<div class="span4">
              <h4>@Messages("dialogs.index.browser.title")</h4>
              <p>@Messages("dialogs.index.browser.desc")</p>
            </div>
		</div>
		<p style="margin-top: 20px"></p>
		<div class="row-fluid">
			<div class="span4">
              <h4>@Messages("dialogs.index.source.title")</h4>
              <p>@Messages("dialogs.index.source.desc")</p>
            </div>
			<div class="span4">
              <h4>@Messages("dialogs.index.multilanguage.title")</h4>
              <p>@Messages("dialogs.index.multilanguage.desc")</p>
            </div>
			<div class="span4">
              <h4>@Messages("dialogs.index.printer.title")</h4>
              <p>@Messages("dialogs.index.printer.desc")</p>
            </div>
		</div>
	</div>

	<div class="row-fluid">
        <h4>@Messages("dialogs.index.support.title")</h4>
		<dl class="dl-horizontal">
			<dt>@Messages("dialogs.index.support.mainPage")</dt><dd><a href="http://www.seyhanproject.com" target="_blank">http://www.seyhanproject.com</a></dd>
			<dt>@Messages("dialogs.index.support.forums")</dt><dd><a href="https://groups.google.com/forum/#!forum/seyhanp" target="_blank">[seyhanp]</a></dd>
			<dt>@Messages("dialogs.index.support.blog")</dt><dd><a href="http://blog.seyhanproject.com/" target="_blank">http://blog.seyhanproject.com</a></dd>
			<dt>@Messages("dialogs.index.support.docs")</dt><dd><a href="http://www.seyhanproject.com/docs" target="_blank">http://www.seyhanproject.com/docs</a></dd>
			<dt>@Messages("dialogs.index.support.license")</dt><dd><a href="http://www.seyhanproject.com/#/license" target="_blank">http://www.seyhanproject.com/#/license</a></dd>
		</dl>        
     </div>

	<div class="row-fluid">
		<h4>@Messages("thanks")</h4>
		
		<style type="text/css">
			.centered {
				text-align: center;
			}
		</style>
           
		<table width="100%" id="actionsTable">
			<thead>
				<tr>
					<th style="width:5%">@Messages("name")</th>
					<th style="width:2%">@Messages("version")</th>
					<th style="width:20%">@Messages("purposed")</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Java</td>
					<td class="centered">1.6</td>
					<td><a href="http://www.java.com">@Messages("dialogs.index.purposed.java")</a></td>
				</tr>
				<tr>
					<td>Eclipse</td>
					<td class="centered">Kepler</td>
					<td><a href="http://www.eclipse.org">@Messages("dialogs.index.purposed.eclipse")</a></td>
				</tr>
				<tr>
					<td>Linux</td>
					<td class="centered">Mint</td>
					<td><a href="http://www.linuxmint.com/">@Messages("dialogs.index.purposed.mint")</a></td>
				</tr>
				<tr>
					<td>Scala</td>
					<td class="centered">2.10</td>
					<td><a href="http://www.scala-lang.org">@Messages("dialogs.index.purposed.scala")</a></td>
				</tr>
				<tr>
					<td>Play Framework</td>
					<td class="centered">2.1</td>
					<td><a href="http://www.playframework.com">@Messages("dialogs.index.purposed.playfw")</a></td>
				</tr>
				<tr>
					<td>Twitter Bootstrap</td>
					<td class="centered">2.3.2</td>
					<td><a href="http://getbootstrap.com">@Messages("dialogs.index.purposed.bootstrap")</a></td>
				</tr>
				<tr>
					<td>H2</td>
					<td class="centered">1.3</td>
					<td><a href="http://www.h2database.com">@Messages("dialogs.index.purposed.h2")</a></td>
				</tr>
				<tr>
					<td>MySql</td>
					<td class="centered">5.2</td>
					<td><a href="http://www.mysql.com">@Messages("dialogs.index.purposed.mysql")</a></td>
				</tr>
				<tr>
					<td>Flyway</td>
					<td class="centered">2.2</td>
					<td><a href="http://flywaydb.org/">@Messages("dialogs.index.purposed.flyway")</a></td>
				</tr>
				<tr>
					<td>Ant</td>
					<td class="centered">1.8.2</td>
					<td><a href="http://ant.apache.org/">@Messages("dialogs.index.purposed.ant")</a></td>
				</tr>
				<tr>
					<td>jQuery</td>
					<td class="centered">1.9</td>
					<td><a href="http://www.jquery.com">@Messages("dialogs.index.purposed.jquery")</a></td>
				</tr>
				<tr>
					<td>Bitbucket</td>
					<td class="centered">-</td>
					<td><a href="https://bitbucket.org">@Messages("dialogs.index.purposed.bitbucket")</a></td>
				</tr>
			</tbody>
		</table>
	</div>

}
