@(form: Form[Application.Login])

<!DOCTYPE html>
<html lang="en">
<head>
	<title>seyhan | ön muhasebe</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE,chrome=1" />
    <meta name="description" content="açık kaynak, web tabanlı, işletim sistemi bağımsız, veritabanı bağımsız, tarayıcı bağımsız, çok kullaıcılı, ön muhasebe projesi">
    <meta name="keywords" content="open sourced, web based, operating system independent, database independent, browser independent, multiuser, accounting project">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<img src="/assets/img/seyhan_p_d.png" style="padding-left: 10px"></img>
		</div>
	</div>

	@helper.form(routes.Application.authenticate, 'class -> "form-login", 'id -> "login") {

		@if(form.hasGlobalErrors) {
			<p class="error">
				@form.globalError.message
			</p>
		}

		@if(flash.contains("success")) {
			<p class="success">
				@flash.get("success")
			</p>
		}
		
		<h3>@Messages("login")</h3>

		<input type="text" class="input-xlarge noenter" placeholder="@Messages("username")" name="username" value="@form("username").value" />
		<input type="password" class="input-xlarge noenter" placeholder="@Messages("password")" name="password" />

		<div class="clearfix"/>

		<div style="float:right; margin-right:11px">
			<button class="btn btn-primary" type="submit" accesskey="l">Login</button>
		</div>
		<div class="clearfix" />

	}

	<script type="text/javascript">
		$(window).keydown(function(event) {
			if (event.keyCode == 13) {
				$('#login').submit();
			}
		});
	</script>

</body>
</html>