@(form: Form[_], name: String = "stock", direction: String = "", isContinuouslyAdded: Boolean = false)

@***********************************************************************
* Generate autocomplete stock input according twitter bootsrap rules *
***********************************************************************@

<input type="hidden" id="direction" value="@direction"/>
<input type="hidden" id="@(name + "_id")" name="@(name + ".id")" value="@form(name + ".id").value" class="autocomplete_stock_id"/>

<div class="control-group @if(form(name + ".name").hasErrors) {error}">
	<label id="@(name + "_label")" class="control-label" for="@(name + "_name")"
		style="cursor:pointer; color:green; font-weight: bold" title="@Messages("click.for.the.others")">@Messages("stock.name") <b class='caret'></b>
	</label>
	<div class="controls inline">
		<input type="text" id="@(name + "_name")" name="@(name + ".name")" value="@form(name + ".name").value"
			class="typeahead input-xlarge autocomplete_stock_name has_special_enter" autocomplete="off" placeholder="@Messages("search")" style="margin-top:2px"/>
		@if(! isContinuouslyAdded) {
			<a id="@(name + "_cancel")" class="btn btn-mini" style="margin-left:-5px">
				<i class="icon-remove" style="margin-top:1px"></i>
			</a>
		}
		<span style="color: red; font-size: 18px; font-weight: bold">@if(form(name).constraints.map(c => c._1).contains("constraint.required")) {*}</span>
		@if(form(name + ".name").hasErrors) {
			<span class="errors label label-warning">
				@for(error <- form(name + ".name").errors) {
					@utils.TemplateHelper.convertMessage(error)
				}
			</span>
		}
	</div>
</div>

<script type="text/javascript">
	var isContinuouslyAddedForStock = @isContinuouslyAdded;
	var stockLabels = {
		'code': '@Messages("stock.code")',
		'name': '@Messages("stock.name")',
		'barcode': '@Messages("stock.barcode")'
	}
</script>

<script type="text/javascript" src="@routes.Assets.at("javascripts/autocomplete/stock.js")"></script>
