@(_form: Form[NovaposhtaCargoTrans])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@tools.templates.trans_form() {

	@tools.imports.forms_header(
		_form("id").value,
		enums.Right.NOVAPOSHTA_KARGO_HAREKETLERI,
		novaposhta.routes.Transes.remove(if(_form("id").value != null && ! _form("id").value.isEmpty()) _form("id").value.toInt else -1)
	)

	@helper.form(action = novaposhta.routes.Transes.save(), 'class-> "form-horizontal", 'id-> "mainFieldsForm") {

		@tools.imports.base_hidden_fields(_form, enums.Right.NOVAPOSHTA_KARGO_HAREKETLERI)

		<fieldset>
			@inputText(_form("transDate"),
				'_label -> Messages("date"),
				'class -> "input-small date"
			)

			@inputText(_form("regNo"),
				'_label -> Messages("novaposhta.reg_no"),
				'class -> "input-medium",
				'maxlength -> "30"
			)

			@tools.dropdowns.novaposhta_cargo(_form, false)

			@inputText(_form("cargoValue"),
				'_label -> Messages("novaposhta.cargo.value"),
				'class -> "input-small currency",
				'maxlength -> "10"
			)

			@inputText(_form("money"),
				'_label -> Messages("novaposhta.cargo.money"),
				'class -> "input-small currency",
				'maxlength -> "10"
			)

			@inputText(_form("return_"),
				'_label -> Messages("novaposhta.cargo.return"),
				'class -> "input-small currency",
				'maxlength -> "10"
			)

			@select(_form("excCode"),
				options(Options.currencies),
				'class -> "input-small",
				'_label -> Messages("currency"),
				'_default -> Messages("choose")
			)

			@inputText(_form("description"),
				'_label -> Messages("description"),
				'class -> "input-xxlarge",
				'maxlength -> "100"
			)
		</fieldset>

		@tools.templates.form_footer_bar(enums.Right.NOVAPOSHTA_KARGO_HAREKETLERI, _form("id").value)

	}

}
